<div class="help">
  <h1>Help: Comments</h1>

  <div class="section">
    <h4>Formatting</h4>
    <p>All comments are formatted using <%= link_to "DText", :action => "dtext" %>.</p>
  </div>

  <div class="section">
    <h4>Limiting</h4>
    <p>Non-contributors can only post <%= CONFIG["member_comment_limit"] %> comments an hour. However if you post a comment without bumping the post, you can comment as much as you'd like and ignore the limit.</p>
  </div>

  <div class="section">
    <h4>Search</h4>
    <p>If you want to only search for a specific user, prefix your query with user. For example: "user:danbooru_user".</p>
  </div>
</div>

<% content_for("subnavbar") do %>
  <li><%= link_to "Help", :action => "index" %></li>
<% end %>
