A Firefox extension to facilitate uploading of images to danbooru from local files or sites that have some sort of referrer or cookie hooplah. It is a replacement for the bookmarklet, providing autocomplete for tags when adding a post or using the site.

Note that you need Firefox 2.0.x for the version 0.2.7 and above, which is also now compatible with the "lolifox":http://lolifox.com/ browser, but 0.2.6 is still available for Firefox 1.5.x users. On upgrading from Firefox 1.5 to 2.0 you should be automatically prompted to update to the latest compatible version.

As of version 0.2.8 the autocomplete function extends to the input fields on Danbooru itself.

h4. See also

* "Extension home page":http://unbuffered.info/danbooruup/
