You can save individual posts to a personal list of favorites. You need an account in order to use this feature, and you must have JavaScript enabled and use a browser that supports XMLHttpRequest.

To add a post to your favorites, simply click on the *Add to Favorites* link. Alternatively, you can use the [[Help:Posts|Add to Favorites mode]].

You can view your favorites by going to My Account, then My Favorites. You can remove posts from your favorites by clicking on the Remove link.
