<div class="help">
  <h1>Help: Hidden Tags</h1>

  <div class="section">
    <p>Danbooru hides some tags because advertisers are averse to them. Currently there are only two hidden tags: loli and shota. These posts represent approximately 0.5% of the total content of the site.</p>
    <p>Hidden tags become visible when you become a <a href="/help/users">privileged member</a>.</p>
  </div>
</div>

<% content_for("subnavbar") do %>
  <li><%= link_to "Help", :action => "index" %></li>
<% end %>
