<div class="help">
<p>Danbooru is a big site. 

<ul>
  <li><%= link_to "API", :action => "api" %></li>
  <li><%= link_to "Artists", :action => "artists" %></li>
  <li><%= link_to "Cheat Sheet", :action => "cheatsheet" %></li>
  <li><%= link_to "Notes", :aciton => "notes" %></li>
  <li><%= link_to "Posts", :action => "posts" %></li>
  <li><%= link_to "Tags", :action => "tags" %></li>
  <li><%= link_to "Wiki", :action => "wiki" %></li>
</ul>

</div>
