The official danbooru IRC channel is at irc.pyoko.org/danbooru. Most conversation revolves around development but you're free to stop by and bitch at us for some feature we've yet to implement. 

Be sure to say hello to [[Kozue Bot|[Marimite]Kozue]].
