<div class="help">
  <h1>Help: Tag Subscriptions</h1>
  
  <p>With a <a href="/help/users">privileged account</a> you can subscribe to a group of tags. A background process runs every 15 minutes to refresh your tag subscriptions providing you a listing of the 200 most recent posts matching your tags. You can think of a tag subscription as a bookmark to a tag search, but coupled with the full power of Danbooru's tag query engine.</p>
  <p>You can create up to five groups and each group can have up to 20 tags. Any tag that works in the post listing will work with tag subscriptions, which means any metatag will work. You can even create tag subscriptions based on other people's tag subscriptions.</p>
  <p>You can search your own tag subscriptions using the <em>sub</em> metatag from the main post listing. To search for albert's tag subscriptions for example, search for <em>sub:albert</em>. To search albert's touhou tag subscription group, you can search for <em>sub:albert:touhou</em>. Because the posts are rendered through the main listing, you can also view the Atom feed, the Piclens feed, and all API calls will work as expected. And like any other metatag, you can combine it with other tags (to a degree).</p>
  <p>The one caveat is that Danbooru performs a union search on all your tags. You can't, for example, search for all posts matching "touhou" AND "rating:explicit".</p>
  <p>To edit your tag subscriptions, visit your <a href="/user/edit">user settings</a> page.</p>
</div>
