<div class="help">
  <h1>Help: Accounts</h1>

  <div class="section">
    <p>There are three account types: basic, privileged, and contributor.</p>
    <table width="100%">
      <thead>
        <tr>
          <th width="20%">Level</th>
          <th width="80%">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Basic</td>
          <td>You can upload up to <%= CONFIG["member_post_limit"] %> posts in a day, post up to <%= CONFIG["member_comment_limit"] %> comments in an hour, keep favorites, post on the forum, create notes, create pools, create artists, and edit the wiki. Any post you upload will be subject to moderation.</td>
        </tr>
        <tr>
          <td>Privileged</td>
          <td>You no longer see ads or 503 pages. You can upload unlimited posts and post unlimited comments, but your posts are still subject to moderation.</td>
        </tr>
        <tr>
          <td>Contributor</td>
          <td>Your posts are no longer subject to moderation.</td>
        </tr>
      </tbody>
    </table>
    <p>Registration for basic accounts is open. To get a privileged account, you must be invited by a moderator.</p>
    <p>See the <%= link_to "signup", :controller => "user", :action => "signup" %> page for more details.</p>
  </div>
  
  <div class="section">
    <h4>Blocked Accounts</h4>
    <p>Your account may have been marked as blocked. Blocked accounts can't upload posts, and they can't post comments or post to the forum. You can still make tag changes, keep favorites, edit the wiki, and edit notes. Blocks usually last one week.</p>
  </div>
</div>
