<div class="help">
  <h1>Help: Accounts</h1>

  <div class="section">
    <p>There are three types of accounts: basic, privileged, and blocked.</p>
    <p>You need a basic account to upload posts, keep favorites, post comments, post on the forum, create and edit notes, create pools, edit artists, edit the wiki, search for up to two tags at a time, and see beyond the first page of a post listing. With a basic account, any post you upload will be put in a queue, to be approved by a moderator.</p>
    <p>You need a privileged account to upload posts without moderator approval and to view some hidden posts.</p>
    <p>Registration for basic accounts is open. To get a privileged account, you must be invited by a moderator.</p>
    <p>See the <%= link_to "signup", :controller => "user", :action => "signup" %> page for more details.</p>
  </div>
  
  <div class="section">
    <h4>Blocked Accounts</h4>
    <p>Your account may have been marked as blocked. Blocked accounts can't upload posts, and they can't post comments or post to the forum. You can still make tag changes, keep favorites, edit the wiki, and edit notes. Blocks usually last one week.</p>
  </div>
</div>
