<div class="help">
  <h1>Help: Accounts</h1>

  <div class="section">
    <p>There are three account types: basic, privileged, and contributor.</p>
    <table width="100%">
      <thead>
        <tr>
          <th width="20%">Level</th>
          <th width="20%">Cost</th>
          <th width="60%">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Basic</td>
          <td>Free</td>
          <td>You can upload around 5 posts a day, post up to <%= CONFIG["member_comment_limit"] %> comments in an hour, and search up to two tags at a time. Any post you upload will be subject to moderation.</td>
        </tr>
        <tr>
          <td>Privileged</td>
          <td>$20<br>(one time)</td>
          <td>You no longer see ads or 503 pages, and you can search up to six tags at once. You can <a href="/help/tag_subscriptions">subscribe to tags</a>. You can vote on posts. You can see <a href="/help/hidden_tags">hidden tags</a>.</td>
        </tr>
        <tr>
          <td>Contributor</td>
          <td>Invite only</td>
          <td>Your posts are no longer subject to moderation.</td>
        </tr>
      </tbody>
    </table>
    <p>Registration for basic accounts is free and open. To get a privileged account, please contact me at <%= mail_to "r888888888@gmail.com", nil, :encode => "hex" %>.</p>
    <p>See the <%= link_to "signup", :controller => "user", :action => "signup" %> page for more details.</p>
  </div>
</div>

<% content_for("subnavbar") do %>
  <li><%= link_to "List", :action => "index" %></li>
<% end %>
