You can vote on posts. When you click on the vote up or vote down link, your browser queries Danbooru in the background and records your vote. You can only vote once per post, and once you've voted you can't change your vote.

In order to vote, you must have JavaScript enabled and use a browser that supports XMLHttpRequest. You DO NOT need an account to vote on posts.
