<h5 class="post-header">Score: <span id="post-score-<%= post.id %>"><%= post.score %></span> (vote <%= link_to_function("up", "vote(1, #{post.id})") %>/<%= link_to_function("down", "vote(-1, #{post.id})") %>)</h5>
<%= render :partial => "comments", :locals => {:comments => comments, :post_id => post.id} %>
