<div class="comment">
	<h5 class="comment-info"><strong><%= @comment.author %></strong> <span class="date"><%= @comment.created_at.strftime("%D %I:%M") %></span></h5>
	<%= print_comment(@comment) %>
</div>

<p><%= link_to "Return to post", :controller => "post", :action => "view", :id => @comment.post_id %></p>
