<% content_for('subnavbar') do %>
  <li><%= link_to "List", :action => "index" %></li>
  <li><%= link_to "Ban", :action => "new" %></li>
  <li><%= link_to "Search", :action => "search" %></li>
<% end %>
