<div id="footer">
  <%= link_to "List", :action => "index" %> |
  <%= link_to "Create", :action => "create" %> |
  <%= @content_for_footer %>
  <%= link_to "Help", :controller => "help", :action => "pools" %>
</div>
