<h3>Delete Pool</h3>

<% form_tag(:action => "destroy") do %>
  <p>Are you sure you wish to delete "<%= @pool.pretty_name %>"?</p>
  <%= submit_tag "Confirm" %> <%= button_to_function "Cancel", "history.back()" %>
<% end %>

<%= render :partial => "footer" %>
