<p>Hello, <%= @user.name %>. You need to confirm your account by visiting <%= "this link", :controller => "user", :action => "activate_user", :hash => @hash, :id => User.confirmation_hash(@user.name), :only_path => false, :host => CONFIG["server_host"] %></p>.
