Hello, <%= @user.name %>. Your password has been reset to <%= @password %>.

You can login to <%= link_to CONFIG["app_name"], :controller => "user", :action => "login" %> and change your password to something else.
