<div id="admin-index">
	<h4><a href="/admin/settings">&raquo; Settings</a></h4>
	<h4><a href="/admin/edit_account">&raquo; Accounts</a></h4>
	<h4><a href="/admin/reset_pass">&raquo; Reset Password</a></h4>
</div>
