<p>Note that altered settings will be lost on server reset.</p>

<% form_tag(:action => "settings") do %>
<table>
	<tr>
		<th>Key</th>
		<th>Value</th>
	</tr>
	<% CONFIG.each do |k, v| %>
  	<tr>
  		<td><%= k %></td>
  		<td><%= text_field_tag k, v %></td>
  	</tr>
	<% end %>
	<tr>
		<td colspan="2"><%= submit_tag "Save" %></td>
	</tr>
</table>
<% end %>
