<div id="footer">
  <%= link_to "Search", :action => "search" %> |
  <%= link_to "History", :action => "history" %> |
  <%= link_to "Translation requests", :controller => "post", :action => "index", :tags => "parent:none translation_request" %> |
  <%= link_to "Help", :controller => "help", :action => "notes" %>
</div>
