body, div, h1, h2, h3, h4, h5, h6, p, ul, li, dd, dt {
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: tahoma;
}

body {
  font-size: 0.8em;
  background: white;
  padding: 1em 3em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

img {
  border: none;
  vertical-align: middle;
}

input, textarea {
  padding: 0 0.3em;
}

a:link {
  color: #006FFA;
  text-decoration: none;
}

a:visited {
  color: #006FFA;
  text-decoration: none;
}

a:hover {
  color: #33CFFF;
  text-decoration: none;
}

a:active {
  color: #006FFA;
  text-decoration: none;
}

a.last-page {
  color: #AAA;
}

a.spoiler {
  color: black;
  background: black;
  cursor: text;
}

a.spoiler:hover {
  color: white;
}

a.help {
  background: #E6E6E6;
}

.link {
  color: #006FFA;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.link:hover {
  color: #33CFFF;
}

strong.divider {
  font-weight: bold;
  color: gray;
}

span.author {
  color: gray;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 0.2em 0.5em;
  white-space: nowrap;
}

tr.padded th {
  padding: 0 1em;
}

tr.even {
  background: rgb(245, 245, 255);
}

tr.odd {
  background: rgb(253, 253, 255);
}

tr.pending-tag {
  background: rgb(240, 255, 240);
}

td {
  padding: 1px 4px; 
  vertical-align: top;
}

fieldset {
  border: 1px dashed gray;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  width: 50%;
}

legend {
  letter-spacing: 0.5em;
}

code {
  font-family: monospace;
  font-size: 1.2em;
}

table {
  margin-bottom: 2em;
}

textarea {
  font-family: monospace;
  font-size: 1.2em;
  width: 100%;
}

ol {
  margin-left: 1em;
}

ul {
  margin-bottom: 1em;
}

li {
  margin-left: 1em;
}

p {
  margin-bottom: 1em;
}

h5 a:link {
  color: black;
}

h5 a:visited {
  color: black;
}

h5 a:hover {
  color: #33CFFF;
}

.space {
  margin-bottom: 1em;
}

div#header {
  margin-bottom: 1em;
}

div#footer {
  margin-top: 1em;
  text-align: center;
  font-size: 120%;
  color: #CCC;
  clear: both;
}

div.sidebar {
  width: 20%;
  margin-right: 1em;
  float: left;
  overflow: hidden;
}

div.sidebar li {
  list-style-type: none;
  margin: 0;
}

div.content {
  float: left;
  width: 78%;
}

span.informational {
  cursor: help;
}

img.preview {
  margin: auto;
}

span.thumb {
  height: 180px;
  width: 180px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
}

span.date {
  color: #AAA;
}

ul.flat-list {
  display: inline;
}

ul.flat-list * {
  display: inline;
}

ul.flat-list li {
  list-style-type: none;
  font-weight: bold;
  margin: 0 1em 0 0;
}

ul.flat-list li a {
  font-weight: normal;
}

ul.flat-list li a.forum-update {
  font-weight: bold;
}

div#notice {
  font-size: 1.2em;
  color: red;
  font-weight: bold;
  margin-bottom: 1em;
}

form.button-to input {
  border: none;
  color: #006FFA;
  background: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}

form.button-to input:hover {
  color: #33CFFF;
}

div#paginator {
  display: block;
  padding: 2em 0 1em 0;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  clear: both;
}

div#paginator span {
  margin: 0 3px;
  padding: 2px 6px;
}

div#paginator a {
  margin: 0 3px;
  padding: 2px 6px;
  font-weight: normal;
  border: 1px solid #EAEAEA;
}

div#paginator a.current {
  border: 1px solid #AAA;
}

div#paginator a:hover {
  background: rgb(60, 60, 220);
  color: white;
}

div#paginator a.arrow {
  border: none;
}

div#paginator a.arrow:hover {
  background: white;
  color: #33CFFF;
}

div#static-index {
  text-align: center;
}

div#static-index div#links a {
  margin: 0 0.5em;
}

div#static-more li {
  list-style-type: none;
  margin: 0;
}

div#static-more div {
  float: left;
  width: 25%;
}

div#static-more ul {
  margin-top: 2em;
}

div#user-stats li {
  list-style-type: none;
  margin: 0;
}

div#user-stats div {
  float: left;
  width: 30%;
}

div#user-stats ul {
  margin-top: 2em;
}

div#comment-list div.col1 {
  width: 200px;
  float: left;
  clear: left;
  margin-bottom: 5em;
}

div#comment-list div.col2 {
  width: 600px;
  float: left;
  margin-bottom: 5em;
}

div#comment-list h6.comment-header a:hover {
  color: #333;
} 

div#comment-list div.post-info {
  margin-bottom: 1em;
}

div#comment-list div.post-info span.info {
	margin-right: 1em;
}

div#comment-list div.comment {
  margin-bottom: 1em;
}

div#post-list div.upload input {
  margin-right: 1em;
}

div#post-view img.data {
  margin-right: 5em;
}

div#post-view div#related0 img {
  padding: 0;
}

div#post-view div#note-container {
  position: absolute;
}

div#post-view div.note-box {
  position: absolute;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  cursor: move;
  background: #FFE;
  opacity: 0.5;
}

div#post-view div.note-corner {
  background: black;
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

div#post-view div.note-body {
  background: #FFE;
  border: 1px solid black;
  display: none;
  width: 140px;
  height: 100px;
  position: absolute;
  padding: 5px;
  cursor: pointer;
  overflow: auto;
}

div#post-view div#edit {
  margin-bottom: 2em;
  padding: 1em;
}

div#post-view p {
  margin: 0;
}

div#post-view span.radio {
  margin-right: 1em;
}

div#tag-list {
  text-align: center;
  margin-bottom: 2em;
}

div#tag-list a {
  padding-right: 5px;
}

div#alpha-paginator {
  text-align: center;
}

div#alpha-paginator a {
  margin: 0.2em;
}

div#wiki-view {
  line-height: 2em;
  width: 50em;
  text-align: left;
}

h2.wiki-title {
  color: #003DD8;
  margin-bottom: 0.25em;
}

span.old-version {
  color: gray;
}

p.linked-from {
  color: gray;
  font-style: italic;
}

div.diff {
  font-family: monospace;
  font-size: 1.2em;
  margin-top: 1em;
}

del {
  font-family: monospace;
  background-color: #f88;
  text-decoration: line-through;
}

ins {
  font-family: monospace;
  background-color: #8f8;
}

div#admin-edit-user option {
  width: 15em;
}

div#upload-list td {
  padding: 0 1em;
}

div#user-index {
  width: 40em;
}

div#user-list {
  width: 40em;
}

div#user-list table {
  width: 100%;
}

div#post-add table div {
  width: 36em;
}

div#related {
  margin: 0 3em 1em 0;
}

div#related a {
  margin-right: 1em;
}

div#related p {
  margin-bottom: 1em;
}

div#post-popular {
  text-align: center;
}

div#post-popular * {
  margin: auto;
}

div#post-popular h1 {
  margin-bottom: 1em;
}

div#post-tag-history tbody tr:hover {
  background: #FFD;
}

div#post-tag-history li {
  list-style-type: none;
  margin: 0;
}

div#amb-content {
  font-size: 1.2em;
  font-style: italic;
}

ul.tag-explore {
  margin: 0;
}

ul.tag-explore li {
  list-style-type: none;
  margin: 0 0 0 1em;
}

div#tag-explore img {
  margin: 1em;
}

span.artist-tag {
  color: #f00;
}

span.character-tag {
  color: #0a0;
}

span.copyright-tag {
  color: #a0a;
}

tr.footer > td {
  padding-top: 1em;
}

div#artist td {
  white-space: nowrap;
}

div#artist > div#search-form {
  margin-bottom: 2em;
}

div#forum > table {
  width: 100%;
}

div#forum > table td,
div#forum > table th {
  text-align: center;
}

div#forum > table td:first-child,
div#forum > table th:first-child {
  text-align: left;
}

div.response-list > div.post {
  margin-bottom: 2em;
  float: left;
  clear: both;
}

div.response-list > div.post > div.author {
  float: left;
  width: 10em;
  padding-right: 2em;
}

div.response-list > div.post > div.author > h6.author {
  font-size: 1.3em;
}

div.response-list > div.post > div.content {
  float: left;
  width: 30em;
  padding-left: 2em;
  min-height: 4em;
}

div.response-list > div.post > div.content > div.footer {
  margin-top: 1em;
  color: #CCC;
}

div.response-list > div.post > div.content > div.footer a {
  color: #666;
}

div.response-list > div.post > div.content > div.body {
  width: 40em;
}

p.tn {
  font-size: 0.8em;
  color: gray;
}

ul.news li {
  margin-bottom: 0.5em;
}

div.help {
  width: 40em;
  margin-top: 2em;
}

div.help div.section {
  margin-bottom: 4em;
}

div.help div.section div.section {
  margin-bottom: 2em;
}

div.help h4 {
  margin-bottom: 0.5em;
  color: #060;
}

div.help h1, div.help h2, div.help h3, div.help h4 {
  margin: 0 0 0.5em 0;
}

dt {
  font-weight: bold;
}

dt.bad {
  color: red;
}

dd {
  margin-bottom: 1em;
}

div.help div.code {
  border: 1px dashed green;
  margin: 1em 0;
  padding: 1em 2em;
  background: #EEE;
  overflow: hidden;
  font-family: monospace;
}

a.code {
  font-family: monospace;
}

table.form {
  width: 70em;
}

table.form th {
	background: white;
	color: black;
	white-space: normal;
  padding-right: 2em;
}

label {
	font-weight: bold;
  white-space: nowrap;
}

table.form p {
	font-size: 0.8em;
  font-weight: normal;
	width: 15em;
	margin: 0;
	padding: 0 1em 0 0;
}

table.form tfoot input {
	margin-top: 1em;
}

ul.link-page {
	font-size: 1.2em;
	font-weight: bold;
}

ul.link-page li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div.page {
	width: 40em;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus {
	background: #FFC;
}

div#info {
	font-style: italic;
}

table.listing tbody tr:hover {
  background: #FFD;
}

span.tag-list a {
  margin-right: 1em;
}

span.post-count {
  color: #AAA;
}

div.quote {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #666;
  background: #EEE;
}
