<div id="footer">
	<p><a href="/tag/list_all">List (by name)</a> | <a href="/tag/list_all_by_date">List (by date) | <a href="/tag/list_all_by_count">List (by count)</a> | <a href="/tag/list_artists">List Artists</a> | <a href="/tag/list_ambiguous">List Ambiguous</a> | <a href="/tag/search">Search</a></p>
	<p>Admin: <a href="/tag/mass_edit">Mass Edit</a> | <a href="/tag/aliases">Aliases</a> | <a href="/tag/implications">Implications</a> | <a href="/tag/set_type">Set Type</a></p>
</div>
