<div id="footer">
	<p><%= link_to "List", :action => "index" %> | <%= link_to "Search", :action => "search" %> | <%= link_to "Aliases", :controller => "tag_alias", :action => "index" %> | <%= link_to "Implications", :controller => "tag_implication", :action => "index" %> | <%= link_to "Mass Edit", :action => "mass_edit" %> | <%= link_to "Edit", :action => "edit" %></p>
</div>
