<form method="post" action="/tag/mass_edit">
	<%= text_field_tag "start", params[:source], :size => 25 %>
	<%= text_field_tag "result", params[:name], :size => 25 %>
	<%= button_to_function "Preview", "$('preview').innerHTML = 'Loading...'; new Ajax.Updater('preview', '/tag/edit_preview', {method: 'get', parameters: 'tags=' + $F('start')})" %><%= submit_tag "Save" %>
</form>

<%= render :partial => "footer" %>

<div id="preview">
</div>
