<form method="post" action="/tag/mass_edit">
	<input type="text" name="start" size="25" id="start"/>
	<input type="text" name="result" size="25" id="result"/>
	<%= button_to_function "Preview", "$('preview').innerHTML = 'Loading...'; new Ajax.Updater('preview', '/tag/edit_preview', {method: 'get', parameters: 'tags=' + $F('start')})" %><%= submit_tag "Save" %>
</form>

<%= render :partial => "footer" %>

<div id="preview">
</div>
