<h2>Japanese to Romaji</h2>

<div style="margin-bottom: 1em;">
  <% form_tag({:action => "romakan_test"}, :method => :get) do %>
    <%= text_area_tag "query", params[:query], :size => "50x10" %>
    <%= submit_tag "Submit" %>
  <% end %>  
</div>

<div>
  <p>
    <%= h @result %>
  </p>  
</div>
