<% form_tag({:action => "search"}, :method => :get) do %>
	<%= text_field_tag "name", "", :size => 30 %>
	<%= select_field_tag "type", [%w(Artist artist), %w(Tags search)] %>
	<%= submit_tag "Search" %>
<% end %>

<% if @tags %>
	<ul>
		<% @tags.each do |tag| %>
			<li><%= link_to tag.name, :controller => "post", :action => "index", :tags => tag.name %> (<%= tag.post_count %>)</li>
		<% end %>
	</ul>
<% end %>

<%= render :partial => "footer" %>
