<div class="space">
  <h6>Recent Changes (<%= link_to "all", :action => "recent_changes" %>)</h6>
  <ul>
    <%- WikiPage.find(:all, :limit => 25, :order => "updated_at desc").each do |page| -%>
      <li><%= link_to page.pretty_title, :controller => "wiki", :action => "show", :title => page.title, :noredirect => 1 %></li>
    <%- end -%>
  </ul>
</div>
