<div class="sidebar">
	<div class="space">
		<h6>View Page</h6>
		<% form_tag({:action => "show"}, :method => "get") do %>
			<input name="title" size="20" type="text" id="search-box" />
		<% end %>
	</div>

	<%= render :partial => "recently_revised" %>
</div>
