<div class="sidebar">
	<div class="space">
		<h6>View Page</h6>
		<%= form_tag("/wiki/view", :method => "get") %>
			<input name="title" size="20" type="text" id="search-box" />
		<%= end_form_tag %>
	</div>

	<%= render :partial => "recently_revised" %>
</div>
