<form action="/wiki/rename" method="post">
	<label>Current title:</label> <%= text_field_tag "title", @page.title %><br/>
	<label>New title:</label> <%= text_field_tag "new_title", "" %><br/>
	<input type="submit" value="Rename"/>
</form>
