<h4>Delete Artist</h4>
<p>Are you sure you want to delete <%= h @artist.name %>?</p>

<% form_tag(:action => "destroy") do %>
  <%= submit_tag "Yes" %>
  <%= button_to_function "No", "window.back()" %>
<% end %>