# Copy this file to local_config.yml
--- 
app_name: danbooru
admin_contact: danbooru@moetry.org
server_host: danbooru.donmai.us
default_guest_name: Anonymous
enable_anonymous_post_access: false
enable_anonymous_post_uploads: false
enable_comments: true
enable_comment_spam_filter: true
enable_anonymous_comment_access: false
enable_anonymous_comment_responses: false
enable_anonymous_note_edits: false
enable_anonymous_note_deletes: false
enable_anonymous_wiki_access: true
enable_anonymous_wiki_edits: true
enable_signups: true
enable_forum: true
enable_anonymous_forum_access: false
enable_anonymous_forum_posts: false
