<div>
  <% if posts.empty? %>
    <p>Nobody here but us chickens!</p>
  <% else %>
    <% posts.each do |post| %>
      <%= print_preview(post, :onclick => "return PostModeMenu.click(#{post.id})") %>
    <% end %>
  <% end %>
</div>
