<div class="space">
	<h5>Search</h5>
	<% form_tag({:controller => "post", :action => "list"}, :method => "get") do %>
		<%= text_field_tag("tags", "", :size => 20) %>
		<%= submit_tag "Search", :style => "display: none;" %>
	<% end %>
</div>
