<div id="post-tags-autocomplete" class="auto_complete" style="display: none;"></div>

<script type="text/javascript" charset="utf-8">
  var tags = <%= (@current_user.favorite_tags + " " + @current_user.recent_tags).scan(/\S+/).to_json %>
  new Autocompleter.Local("post_tags", "post-tags-autocomplete", tags, {tokens: [" "]})
</script>
