<h4>Delete Post</h4>

<% if !@current_user.nil? && @current_user.can_view?(@post) %>
  <%= image_tag @post.preview_url %>
<% end %>

<% form_tag(:action => "destroy") do %>
  <%= hidden_field_tag "id", params[:id] %>
  <label>Reason</label> <%= text_field_tag "reason" %>
  <%= submit_tag "Delete" %> <%= submit_tag "Cancel" %>
<% end %>
