<div id="post-popular">
	<h1><%= link_to '&laquo;', :controller => "post", :action => "popular_by_day", :year => @day.yesterday.year, :month => @day.yesterday.month, :day => @day.yesterday.day %> <%= @day.strftime("%B %d, %Y") %> <%= link_to '&raquo;', :controller => "post", :action => "popular_by_day", :year => @day.tomorrow.year, :month => @day.tomorrow.month, :day => @day.tomorrow.day %></h1>

	<%= render :partial => "posts" %>
</div>

<div id="footer">
	<%= link_to "Popular", :controller => "post", :action => "popular_by_day", :month => @day.month, :day => @day.day, :year => @day.year %> | <%= link_to "Popular (by week)", :controller => "post", :action => "popular_by_week", :year => @day.year, :month => @day.month, :day => @day.day %> | <%= link_to "Popular (by month)", :controller => "post", :action => "popular_by_month", :year => @day.year, :month => @day.month %>
</div>
