<div id="post-tag-history">
<form method="post" action="/post/revert_tags">
<table>
<% @histories.each do |history| %>
	<tr>
		<td><input type="radio" name="history" value="<%=history.id%>"/></td>
		<td><%= history.tags %></td>
		<td><%= history.created_at.strftime("%D") %></td>
		<td><%= history.author %></td>
	</tr>
<% end %>
<tr><td colspan="4"<%= submit_tag "Revert" %></td></tr>
</table>
<input type="hidden" name="id" value="<%= params["id"] %>"/>
</form>
</div>
