<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Redirecting to <%= h params['url'] %>...</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <% if params['url'].starts_with? "http://" %>
    <meta http-equiv="refresh" content="0; url=<%= h params['url'] %>"/>
  <% end %>
</head>
<body>
<h1>Redirecting to <%= link_to h(params['url']), h(params['url']) %></h1>
</body>
</html>
