<div id="state-of-danbooru-details">
  <p>What do you think of Danbooru today? Is it perfect? Or are there parts you don't like?</p>
  
  <p>Some specific topics to consider:</p>
  
  <ul>
    <li>The moderation process</li>
    <li>The moderation staff</li>
    <li>The community</li>
    <li>The rules</li>
    <li>The forum</li>
  </ul>
  
  <p>If you have questions, comments, or concerns, please email me at <%= mail_to "r888888888@gmail.com", nil, :encode => "javascript", :subject => "State of Danbooru" %>.</p>
</div>
