<div id="user-login">
  <% form_tag({:action => "authenticate"}, :class => "simple-form") do %>
    <%= hidden_field_tag "url", params[:url] %>
    <table class="form">
      <tr>
        <th width="15%"><label class="block" for="user_name">Name</label></th>
        <td width="85%"><%= text_field "user", "name", :tabindex => 1 %></td>
      </tr>
      <tr>
        <th><label class="block" for="user_password">Password</label></th>
        <td><%= password_field "user", "password", :tabindex => 1 %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag "Login", :tabindex => 1 %></td>
      </tr>
    </table>
  <% end %>    
</div>
