<p>If you supplied an email address when you signed up, you can have your password reset. You'll get an email containing your new password.</p>

<% form_tag(:action => "reset_password") do %>
	<table>
		<tr>
			<td>Name</td>
			<td><%= text_field "user", "name" %></td>
		</tr>
		<tr>
			<td colspan="2"><%= submit_tag "Submit" %></td>
		</tr>
	</table>
<% end %>
