<h3>List of Favorites</h3>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, :controller => "favorite", :action => "show", :id => user.id %></td>
        <td><%= user.favorites_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
