<h3>List of Favorites</h3>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to h(user.pretty_name), :controller => "post", :action => "index", :tags => "fav:#{user.name}" %></td>
        <td><%= user.favorite_post_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
