<div id="comments" style="margin-top: 1em;">
  <% if @current_user.is_privileged_or_lower? %>
    <div style="margin-bottom: 1em;">
      <h2>Before commenting, read the <%= fast_link_to "how to comment guide", :controller => "wiki", :action => "show", :title => "howto:comment" %>.</h2>
    </div>
  <% end %>
  <div style="margin-bottom: 1em;">
    <%= render :partial => "comment/threshold_notice", :locals => {:post => @post} %>
  </div>
  
  <%= render :partial => "comment/comments", :locals => {:comments => @post.comments, :post_id => @post.id, :hide => false} %>
</div>
