<div>
  <h5>History</h5>
  <ul>
    <li><%= fast_link_to "Tags", :controller => "post_tag_history", :action => "index", :post_id => @post.id %></li>
    <li><%= fast_link_to "Notes", :controller => "note", :action => "history", :post_id => @post.id %></li>
  </ul>
</div>