<div id="footer">
	<%= link_to "Tags", :controller => "tag", :action => "index" %> |
	<%= link_to "Implications", :controller => "tag_implication", :action => "index" %> |
	<%= link_to "Add", :action => "add" %>
</div>
