<% form_tag(:action => "create") do %>
  <p>You can suggest a new alias, but they must be approved by an administrator before they are activated.</p>  
  <table>
    <tr>
      <th><label for="tag_alias_name">Name</label></th>
      <td><%= text_field "tag_alias", "name", :size => 40 %></td>
    </tr>
    <tr>
      <th><label for="tag_alias_alias">Alias to</label></th>
      <td><%= text_field "tag_alias", "alias", :size => 40 %></td>
    </tr>
    <tr>
      <td colspan="2"><%= submit_tag "Submit" %></td>
    </tr>
  </table>
<% end %>
