<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%= @page_title %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="top" title="<%= CONFIG["app_name"] %>" href="/">
  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% else %>
    <div id="notice" style="display: none;">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= @content_for_layout %>
</body>
</html>
