<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title><%= @page_title %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="top" title="<%= CONFIG["app_name"] %>" href="/">
  <%= navigation_links { |type, title, href| '<link rel="%s" title="%s" href="%s">' % [type, title, url_for(href)] } %>
  <link href="/stylesheets/default.css" media="screen" rel="Stylesheet" type="text/css">
  <%= auto_discovery_link_tag :atom, :controller => "post", :action => "atom", :tags => params["tags"] %>
  <script src="/javascripts/application.js" type="text/javascript"></script>
</head>
<body>
  <div id="header">
    <h2 id="site-title"><%= link_to(CONFIG["app_name"], "/") %><%= tag_header(h(params['tags'])) %></h2>
    <ul class="flat-list" id="navbar">
      <li><a href="/user/home">My Account</a></li>
      <li><a href="/post/index">Posts</a></li>
      <li><a href="/comment/index">Comments</a></li>
      <li><a href="/note/index">Notes</a></li>
      <li><a href="/pool/index">Pools</a></li>
      <li><a href="/artist/index?order=date">Artists</a></li>
      <li><a href="/tag/cloud">Tags</a></li>
      <li><a href="/wiki/show?title=Help%3AHome">Wiki</a></li>
      <li><a href="/forum/index" id="forum-link">Forum</a></li>
      <li><a href="/help/index">Help</a></li>
      <li><a href="/static/more">More &raquo;</a></li>
    </ul>
  </div>
  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% else %>
    <div id="notice" style="display: none;"></div>
  <% end %>
  
  <div class="has-mail" id="has-mail-notice" style="display: none;">
    <%= link_to "You have mail", :controller => "dmail", :action => "inbox" %>
  </div>
  
  <div class="blocked" id="block-reason" style="display: none;">
  </div>

  <div id="content">
    <%= @content_for_layout %>
  </div>

  <%= javascript_tag "Cookie.setup()" %>
  <%= @content_for_post_cookie_javascripts %>
</body>
</html>
